.user-modal {
	&__container {
		display: flex;
		justify-content: center;
		align-items: center;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.2);
		backdrop-filter: blur(10px);
		z-index: 999;
	}
}
.user-form {
	&__container {
		position: relative;
		display: flex;
		flex-direction: column;
		gap: 16px;
		background-color: white;
		border-radius: 10px;
		max-width: toRem(800);
		padding: toRem(50);
	}
	&__title {
		color: inherit;
		margin: 0;
		padding: 0;
		font-size: toRem(28);
	}
	&__img {
		align-self: center;
		max-width: toRem(120);
		max-height: toRem(120);
	}
	&__form {
		display: flex;
		flex-direction: column;
		gap: toRem(10);
		color: var(--primary-color);
	}
	&__input-container {
		display: flex;
		align-items: center;
		gap: toRem(10);
	}
	&__input {
		border: 0.5px solid var(--color-gray);
		border-radius: 10px;
		padding: toRem(10) toRem(20) toRem(10) toRem(20);
		width: 80%;
		background-color: inherit;

		&--dark {
			color: white;
		}
	}
	&__button {
		min-width: toRem(75);
		height: toRem(38);
		padding: toRem(10) toRem(18);

		margin-top: toRem(10);
		color: white;
		background-color: var(--primary-color);
		border: none;
		align-self: center;
	}
	&__error {
		padding-left: toRem(44);
		font-size: toRem(12);
		color: rgb(255, 90, 90);
	}
	&__text {
		margin: 0 auto;
		font-size: toRem(14);
		color: inherit;
		user-select: none;
	}
	&__link {
		padding-left: toRem(4);
		color: var(--primary-color);
		cursor: pointer;
	}
	&__close {
		position: absolute;
		top: 3.2%;
		right: 3.2%;
		cursor: pointer;
	}
	&__icon {
		width: toRem(32);
		height: toRem(32);
		&--dark {
			color: white;
		}
	}
}
