:root {
	--primary-color: #3359e6;
	--primary-color-dark: #5268b9;
	--color-red: rgb(247, 93, 93);
	--color-gray: #b7b9c0;
	--color-darkgray: #767678;
	--color-light-blue: #e7ecfc;
	--color-card-dark: #2a2a2a;
}
